{% extends 'MaDevVoyagesBundle::base_layout.html.twig'%}

{% block container %}
<h1>Pays</h1>
<a href="{{ path('voyages_country_create') }}">Ajouter un pays</a>
<ul>
    {% for country in countries %}
        <li>
            {{ country.name }} - 
            <a href="{{ path('voyages_country_update', {'country': country.id}) }}">Modifier</a> - 
            <a href="{{ path('voyages_country_delete', {'country': country.id}) }}">Supprimer</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}