{% extends 'MaDevVoyagesBundle::base_layout.html.twig' %}

{% block content %}

    <h2>Mes fichiers</h2>

    <a class="btn btn-small btn-info" href="{{ path('uploadfile_file_upload') }}">Uploader de nouveaux fichiers</a>
    <br/><br/>
    
    {% include 'MaDevVoyagesBundle::messages_layout.html.twig' %}
    
    {% for file in files %}
        <img src="{{ asset('uploads/'~ file.directory ~'/thumb_'~ file.name) }}" class="img-polaroid"/>
    {% endfor %}

{% endblock %}