{% extends 'MaDevVoyagesBundle::base_layout.html.twig' %}

{% block content %}

    <h2>Mes fichiers</h2>

    <a class="btn btn-small btn-info" href="{{ path('uploadfile_file_upload') }}">Uploader de nouveaux fichiers</a>
    <br/><br/>
    
    {% include 'MaDevVoyagesBundle::messages_layout.html.twig' %}
    
    <ul>
    {% for key, files in list %}
        <li>
            <h3>{{key|capitalize}}</h3>
            {% for file in files %}
                <a href="{{ path('uploadfile_file_update', { 'id': file.id }) }}">
                    <img src="{{ asset('uploads/'~ file.directory ~'/thumb_'~ file.name) }}"/>
                </a>
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
    
{% endblock %}