{% extends 'MaDevVoyagesBundle::base_layout.html.twig' %}

{% block content %}
    <h2>Administration</h2>
    
    <p>Nombre de pays : {{ nb_countries }}</p>
    <p>Nombre de villes : {{ nb_cities }}</p>
    <p>Nombre de fichiers téléchargés : {{ nb_files }}</p>
{% endblock %}