{% extends 'MaDevVoyagesBundle::base_layout.html.twig' %}

{% block content %}

    <h1>Modifier une ville</h1>

    {{ form_start(form) }}
    {% include 'MaDevVoyagesBundle:City:admin/form_layout.html.twig' with {'form': form, 'button': 'Modifier' } %}
    {{ form_end(form) }}
    
{% endblock %}